.proj-container {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.scoutins {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/scoutins.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/scoutins.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scoutins:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/scoutins.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/scoutins.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.augury {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/augury.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/augury.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.augury:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/augury.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/augury.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.raneem {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/raneem.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/raneem.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.raneem:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/raneem.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/raneem.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-industries {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/si.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/si.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-industries:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/si.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/si.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jewel {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/jwl.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/jwl.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jewel:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/jwl.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/jwl.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-financing {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/scout-financing.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/scout-financing.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-financing:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/scout-financing.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/scout-financing.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-financial {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/scout-financial.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/scout-financial.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-financial:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/scout-financial.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/scout-financial.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-tax {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/scouttax.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/scouttax.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scout-tax:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/scouttax.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/scouttax.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.techship {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.55))), url("../images/techship.png");
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url("../images/techship.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.techship:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.75))), url("../images/techship.png");
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)), url("../images/techship.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=ExamplesPage.css.map */