.proj-container {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.proj-container2 {
  height: 35vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.git-btn:hover {
  cursor: grab;
}

.orange-txt {
  color: #ef8e38;
}

.live-btn {
  color: #ef8e38;
}

.live-btn:hover {
  background: #ef8e38;
  border: 1px solid #fff;
}

.scoutins {
  background: url("../images/scoutins.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scoutins:hover {
  background: url("../images/scoutins.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.augury {
  background: url("../images/augury.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.augury:hover {
  background: url("../images/augury.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.raneem {
  background: url("../images/raneem.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.raneem:hover {
  background: url("../images/raneem.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-industries {
  background: url("../images/si.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-industries:hover {
  background: url("../images/si.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.jewel {
  background: url("../images/jwl.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.jewel:hover {
  background: url("../images/jwl.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-financing {
  background: url("../images/scout-financing.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-financing:hover {
  background: url("../images/scout-financing.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-financial {
  background: url("../images/scout-financial.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-financial:hover {
  background: url("../images/scout-financial.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-tax {
  background: url("../images/scouttax.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.scout-tax:hover {
  background: url("../images/scouttax.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.techship {
  background: url("../images/techship.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.techship:hover {
  background: url("../images/techship.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
