$primary-color: #108dc7 !default;
$secondary-color: #ef8e38 !default;

.loading-screen {
  background: $primary-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $secondary-color,
    $primary-color
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $secondary-color,
    $primary-color
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.loading__text {
  color: #fff;
  text-align: center;
}

.loading__period {
  color: #78cffd;
}
